## Overview

#### This note book is a pipline connecting to the git hub repository: https://github.com/dsfsi/covid19africa and extrating the following data related to the corona virus

1. Number of tests performed daily 
2. The Provincial case breakdown for South Africa

### Licence

\https://github.com/dsfsi/covid19za/blob/master/data/LICENSE.md

#### Import Database Structure
This is the SQL database structure used

In [1]:
from database import model as m

#### Connect to database
RDS SQL Server Data Base

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import pandas as pd

secret = {
    "username": "admin",
    "password": "",
    "host": "database-1.ccwgqdqrrmvt.eu-west-1.rds.amazonaws.com",
    "port": "1433"
}

engine = create_engine(
    'mssql+pymssql://' +
    secret['username'] + ':' + secret['password'] + '@' + secret['host'] + ':' +
    str(secret['port']) + '/Corona'

)

session = sessionmaker()(bind=engine)

#### Get Data

In [3]:
df_tests = pd.read_csv("https://raw.githubusercontent.com/dsfsi/covid19za/master/data/covid19za_timeline_testing.csv")
df_provices = pd.read_csv("https://raw.githubusercontent.com/dsfsi/covid19za/master/data/covid19za_provincial_cumulative_timeline_confirmed.csv")

In [4]:
df_tests

,date,YYYYMMDD,cumulative_tests,recovered,hospitalisation,critical_icu,ventilation,deaths,contacts_identified,contacts_traced,scanned_travellers,passengers_elevated_temperature,covid_suspected_criteria
0,11-02-2020,20200211,61.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
1,13-02-2020,20200213,67.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
2,14-02-2020,20200214,71.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
3,19-02-2020,20200219,95.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
4,20-02-2020,20200220,106.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
5,24-02-2020,20200224,116.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
6,26-02-2020,20200226,121.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
7,02-03-2020,20200302,160.0,0,NaN,0.0,0.0,0,NaN,NaN,13731.0,0.0,0.0
8,03-03-2020,20200303,164.0,0,NaN,0.0,0.0,0,NaN,NaN,11025.0,0.0,0.0
9,06-03-2020,20200306,200.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
10,07-03-2020,20200307,241.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
11,11-03-2020,20200311,645.0,0,NaN,0.0,0.0,0,NaN,NaN,22061.0,0.0,0.0
12,12-03-2020,20200312,848.0,0,NaN,0.0,0.0,0,NaN,NaN,28493.0,1.0,2.0
13,13-03-2020,20200313,924.0,0,NaN,0.0,0.0,0,NaN,NaN,28633.0,1.0,2.0
14,14-03-2020,20200314,1017.0,0,NaN,0.0,0.0,0,NaN,NaN,28087.0,0.0,0.0
15,15-03-2020,20200315,1476.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
16,16-03-2020,20200316,2405.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
17,17-03-2020,20200317,2911.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
18,18-03-2020,20200318,3070.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
19,19-03-2020,20200319,4832.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
20,20-03-2020,20200320,6438.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
21,21-03-2020,20200321,7425.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
22,22-03-2020,20200322,9315.0,1,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
23,23-03-2020,20200323,12815.0,1,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
24,24-03-2020,20200324,15529.0,2,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
25,25-03-2020,20200325,NaN,4,NaN,2.0,0.0,0,NaN,NaN,NaN,NaN,NaN
26,26-03-2020,20200326,20471.0,4,NaN,2.0,0.0,0,NaN,NaN,NaN,NaN,NaN
27,27-03-2020,20200327,28537.0,31,55.0,4.0,3.0,1,4407.0,3645.0,NaN,NaN,NaN
28,28-03-2020,20200328,31963.0,31,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
29,29-03-2020,20200329,35593.0,31,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN
30,30-03-2020,20200330,38409.0,31,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN
31,31-03-2020,20200331,41072.0,31,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN

#### Clean data

##### 1. Clean Test Data

In [28]:
def error(x):
    if pd.isnull(x):
        return 0
    else:
        return x

In [29]:
df_tests["date"] = df_tests["date"].apply(lambda x:pd.to_datetime(x))
df_tests["cumulative_tests"] = df_tests.cumulative_tests.apply(lambda x: error(x))

##### 2. Clean Provincial Data

In [30]:
df_provices = df_provices.melt(id_vars = ["date","YYYYMMDD"])
df_provices["date"] = df_provices["date"].apply(lambda x: pd.to_datetime(x))

df_provices["cumulative_tests"] = df_tests.cumulative_tests.apply(lambda x: error(x))
df_provices = df_provices[df_provices.variable != "total"]

In [31]:
df_provices["value"] = df_provices.value.apply(lambda x: error(x))

#### Upload data To SQL

##### 1. Upload Test Data

In [7]:
Upload_Country = "South Africa"

for i in range(len(df_tests)):
    
    ## Check Country exisits
    Country = session.query(m.Country).filter(m.Country.country == Upload_Country).first()
    if Country is None:
        Print("Country Not Found")

    
    Tests = m.Tests( 
                        date = df_tests["date"][i],
                        cumulative_tests = int(df_tests["cumulative_tests"][i]),
                        country_id = Country.id
    )
    
    session.add(Tests)

session.commit()
session.close()

##### 2. Upload Provincial Data

In [32]:
Upload_Country = "South Africa"
level = "Provincial"

Upload_Country_id = session.query(m.Country).filter(m.Country.country == Upload_Country).first().id

for i in range(len(df_provices)):
    
    ## Check Country exisits
    Location = session.query(m.Location).filter(m.Location.location == df_provices["variable"][i]).first()
    if Location is None:
        Location = m.Location(country_id = Upload_Country_id,
                              location = df_provices["variable"][i],
                              location_level = level)
        session.add(Location)
        session.commit()

    
    CasesLocal = m.CasesLocal( 
                        date = df_provices["date"][i],
                        confirmed = int(df_provices["value"][i]),
                        location_id = Location.id
    )

    session.add(CasesLocal)
    print(i)

session.commit()
session.close()

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249

In [24]:
session.close()